
.icon{
  font-size: 1.2rem;
}

.nav-pills li a:hover,
.dropdown-item:hover, .dropdown-item:focus{
  background-color: #dc3545;
  opacity: 0.9;
  color: black;
  transition:   opacity 40ms  linear;
}

