
<app-modal
           [message]="infoMessage()"
></app-modal>

<div class="card text-center align-items-center justify-content-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body" >
    @if(school$ | async; as school){
      <h5 class="card-title">{{school?.id }}</h5>
      <p class="card-text">{{ school?.name | titlecase }}</p>
      <p class="card-text">{{ school?.email }}</p>
      <p class="card-text"></p>

      <div class="buttons" *ngIf="roles.includes('ADMIN')">
        <!-- Button trigger delete modal -->
        <button class="btn btn-outline-danger"  type="button"
                data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onDeleteSchool(school?.id)">
          <i class="bi bi-trash2"></i>
          Delete
        </button>
        <!-- Button trigger update modal -->
        <button class="btn btn-outline-dark"  type="button" data-bs-toggle="modal" data-bs-target="#exampleModalUpdate">
          <i class="bi bi-pen-fill"></i>
          Update
        </button>
      </div>
    }

  </div>
  <div class="card-footer text-body-secondary">
  </div>
</div>
